.button-primary {
  display: inline-block;
  background-color: #009cf6;
  border: none;
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;

  &.button-block {
    display: block;
    width: 100%;
  }

  &.button-outline {
    background: transparent;
    color: #009cf6;
    border: 1px solid #009cf6;
  }
}