.questions-page {
  display: flex;
  flex-direction: column;
}

.score {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__result {
    font-weight: 500;
    margin-left: 5px;
  }
}